<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create</title>
</head>

<body>
  <h2>Add New User</h2>
  <form action="create_user" method="post">
    <label for="user_name">Username:</label>
    <input type="text" name="user_name">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <input type="submit" value="Create User">
  </form>
</body>

</html>